h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    height: 76px;
    text-decoration-style: dotted;
    text-decoration-color: rgb(2, 85, 16);
    
}

img {
    height: 350px;
    border-radius: 8px;
    transition: transform 0,2s;
    align-self: center;
    text-align: left;
}

img:hover {
    transform: scale(1.05);
}
body {
    background-image:url('fundo.png');
    background-size: cover;
    background-attachment: fixed; 
}

h2 {
    text-align: center;
    height: 200px;
    text-size-adjust: 500px;
    color: rgb(255, 255, 255);
}

.container {
    position: relative;
}
#image {
    position: absolute;
  }
  
#texto {
    position: absolute;
    font-size: 32px;
    left: 250px;
    top: 135px;
}
ul {
    position: top;
    text-align: center;
}